.rootPane {
	-fx-background-color: white;
}
   
.txt-datos{
   -fx-background-color:transparent;
   -fx-border-color:transparent transparent black transparent;  
}

.btn-lv-heroes {
	-fx-background-color: lightblue;
   
}